<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    /> -->
    <link rel="stylesheet" href="./../static/style.css">
    <title>G15 - Colorize Image</title>
</head>
<body>
    <div class="form">
        <form method="post" enctype="multipart/form-data" action="/result">
          <input type="file" name="image" placeholder="Enter Image to Colorize" />
             <button>Colorize</button>
        </form>
        {% block content %} {% endblock %}
    </div>  
</body>
</html>